<a href="https://colab.research.google.com/github/Saividya5009/phython-1/blob/master/phython_assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

program 1

In [ ]:
a=int(input ("enter the value "))
b=int(input("enter the value "))
print('the sum of two values are',a+b)
print ('the difference of two values are',a-b)
print('the division of two values are',a/b)
print('the multiplication of two values',a*b)
print('the modulous of two values',a%b)
print ('the floor division of two values are',a//b)
print('the exponet of two values is',a ** b)

enter the value 4
enter the value 2
the sum of two values are 6
the difference of two values are 2
the division of two values are 2.0
the multiplication of two values 8
the modulous of two values 0
the floor division of two values are 2
the exponet of two values is 16

2.area of circle

In [ ]:
radius=int(input("enter the radius"))
pi=float(input("the value of pi"))
print("area of circle is",pi*radius*radius)

enter the radius2
the value of pi3.14
area of circle is 12.56

3.area of triangle

In [ ]:
base=int(input("enter the value of base"))
height=int(input("enter the value of height"))
print("the area of triangle is",0.5*base*height)

enter the value of base2
enter the value of height3
the area of triangle is 3.0

4.area of rectangle

In [ ]:
breadth=int(input("enter the value of breadth"))
length=int(input("enter the value of length"))
print ("area of rectangle is",breadth*height)

enter the value of breadth4
enter the value of length3
area of rectangle is 12

5.perimeter of a square

In [ ]:
side=int(input("enter the value of side"))
print("perimeter of square is",4*side)

enter the value of side4
perimeter of square is 16

6.circumference of a circle

In [ ]:
radius=int(input("enter the value of radius"))
pi=3.14
print("the circumference of circle is",2*pi*radius)

enter the value of radius6
the circumference of circle is 37.68

7.swapping of two numbers

In [ ]:
a=4
b=7
temp=a
a=b
b=temp
print("after swapping tha two numbers are",a,b)

after swapping tha two numbers are 7 4

8.simple intrest

In [3]:
principalamount=3
time=5
rate=6
print("the simple intrest is",(principalamount*time*rate/100))

the simple intrest is 0.9

9.convert farenheit to celcius

In [6]:
celsius=float(input("enter the temperatue in celsius"))
farenheit=(celsius*9/5)+32
print("the temperature in farenheit is",farenheit)

enter the temperatue in celsius43.98
the temperature in farenheit is 111.164